@charset "UTF-8";
/*画面上部のメニューバー表示*/
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #333;
    padding: 8px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* メニューバーが他の要素の上に表示されるようにz-indexを設定 */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 0 10px;
    display: inline-block;
}

/*ホーム画面などのデザイン*/
table{
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 80%;
  margin-top: 70px; /* メニューバーの高さに合わせてmargin-topを設定 */
  margin-left: 10%;
}

table tr:last-child{
  border-bottom:solid 1px #ddd;
}

table th{
margin-top: 70px;
  text-align: center;
  padding: 10px 0;
  border-right:solid 1px #ddd;
  border-left:solid 1px #ddd;
  width: 10%;
}


table td{
  text-align: center;
  padding: 7px 0;
  border-right:solid 1px #ddd;
  border-left:solid 1px #ddd;
  width: 100%;
}

/*月選択*/

.choise{
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 80%;
  margin-top: 70px; /* メニューバーの高さに合わせてmargin-topを設定 */
  margin-left: 10%;
}

.calender{
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 80%;
  margin-top: 150px; /* メニューバーの高さに合わせてmargin-topを設定 */
  margin-left: 10%;
}