@charset "UTF-8";
/*画面上部のメニューバー表示*/
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #333;
    padding: 8px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* メニューバーが他の要素の上に表示されるようにz-indexを設定 */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 0 10px;
    display: inline-block;
}

/*ホーム画面などのデザイン*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 120px; /* メニューバーの高さに合わせてmargin-topを設定 */
    padding: 100px;
    
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form {
    max-width: 800px;
    width: 600px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
	width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.pushbutton {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: rgb(0, 128, 255);
}