@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background: #9CECFB;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #9CECFB, #65C7F7, #0052D4);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #9CECFB, #65C7F7, #0052D4);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
	width: 75px;
	mix-blend-mode: multiply;
	/* 画像の白い部分を透過*/
}

.nav-menu {
	display: flex;
	font-size: 1rem;
	text-transform: uppercase;
	margin-top: 35px;
	list-style: none;
}

.nav-menu li {
	margin-left: 10px;
	transition: 0.5s;
}

.nav-menu a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	transition: 0.5s;
}

header {
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 4%;
	height: 70px;
}

.nav-menu a:hover {
	color: rgb(128, 0, 128);
	letter-spacing: 0.2em;
	font-size: 20px;
}

table {
	table-layout: fixed;
}

.info-section {
	margin-top: 20px;
}

.info-section h2 {
	margin-bottom: 10px;
}

.info-section table {
	border-collapse: collapse;
	width: 70%;
	margin-top: 10px;
}

.info-section th,
.info-section td {
	border: 1px solid rgb(0, 0, 0);
	padding: 8px;
	text-align: center;
	background-color: rgb(129, 225, 254);
}

.info-section td {
	background-color: #fff;
}

table tr:nth-child(odd) td {
	background: #eee
}

.buttonInfo {
	display: flex;
	justify-content: left;

}

.buttonInfo form {
	margin-right: 10px;

}

.btn1 {
	display: inline-block;
	text-align: center;
	/* 文字位置   */
	cursor: pointer;
	/* カーソル   */
	background: #27acd9;
	/* 背景色     */
	border-radius: 5px;
	/* 背景色     */
	color: #ffffff;
	/* 文字色     */
	line-height: 1em;
	/* 1行の高さ  */
	transition: .3s;
	/* なめらか変化 */
	box-shadow: 3px 3px 3px #666666;
	/* 影の設定 */
	border: 2px solid #27acd9;
	/* 枠の指定 */
}

.btn2,
.btn3,
.btn4,
.btn5 {
	font-weight: bold;
	display: inline-block;
	border-radius: 5px;
	/*角の丸み */
	font-size: 10pt;
	/* 文字サイズ */
	text-align: center;
	/* 文字位置   */
	cursor: pointer;
	/* カーソル   */
	padding: 10px 10px;
	/* 余白       */
	background: #27acd9;
	;
	/* 背景色     */
	color: #ffffff;
	/* 文字色     */
	line-height: 1em;
	/* 1行の高さ  */
	transition: .3s;
	/* なめらか変化 */
	box-shadow: 3px 3px 3px #666666;
	/* 影の設定 */
	border: 2px solid #27acd9;
	;
	/* 枠の指定 */
}

.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover,
.btn5:hover {
	box-shadow: none;
	/* カーソル時の影消去 */
	color: #27acd9;
	/* 背景色     */
	background: #ffffff;
	/* 文字色     */
}

.selectbox1 {
	font-size: 14px;
	/* フォントサイズ */
	border: 1.5px solid #27acd9;
	;
	/* プルダウンのボーダー */
	border-radius: 5px;
	/* プルダウンの角の丸み */
	background-color: rgb(255, 255, 255);
	/* プルダウンの背景色 */
	outline: 1px solid #27acd9;
	/* フォーカス時の外側のボーダーを色 */
	color: rgb(0, 0, 0);
	/* 文字色  */
}