@charset "UTF-8";
.logo{
  width: 75px;
  mix-blend-mode: multiply;
			/* 画像の白い部分を透過*/
}

.nav-menu{
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 35px;
  list-style: none;
}

.nav-menu li{
  margin-left: 10px;
}
.nav-menu a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
.nav-menu a:hover{
  color: rgb(128, 0, 128);
  border-bottom:2px solid rgb(128, 0, 128);
}

a.btn_01 {
	text-align: center;
	 /*コレ*/display: flex;
    /*コレ*/justify-content: center;
    /*コレ*/align-items: center;
    font-size:25px;
    width: 60px;
	height: 120px;
    text-decoration: none;
    font-weight: bold;
	border: 2px solid #27acd9;
	border-radius: 10px;
	color: #fff;
	background: #27acd9;
	transition: 0.5s;
	padding: 1rem 4rem;
    margin: auto;
	vertical-align: middle;
}
a.btn_01:hover {
	border: 2px solid rgb(128, 0, 128);
	color: rgb(128, 0, 128);
	background: #fff;
}
span{
  display: block;
  text-align: center;
  
}


html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(0, 128, 255) 50%, rgb(255, 255, 255) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}