<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/abot.css}">
	<meta charset="UTF-8">
	<title>給与明細</title>
	<style>
		
	</style>
</head>



<body>

	<header>
		<h1>
			<img class="logo" th:src="@{/a/c.png}" onclick="redirectToPage('/tanaka/employee')"
				style="cursor: pointer;">
			<script>
				// JavaScriptでURLにリダイレクトする関数
				function redirectToPage(url) {
					window.location.href = url;
				}
			</script>
		</h1>
		<nav>
			<ul class="nav-menu">
				<li><a href="http://localhost:8080/table" sec:authentication="name">id</a></li>
			</ul>
		</nav>
	</header>







	<div class="div.container4">

		<div align="center">
			<h1>給与明細</h1>
		</div>

		<!-- 年月の切り替えフォーム -->
		<h2>
			<form align="center" th:action="@{/pay}" method="post">
				<label for="yearMonth">年月を選択:</label>
				<select class="selectbox1" id="yearMonth" name="yearMonth">
					<option th:each="ym : ${yearMonth}" th:value="${ym}" th:text="${ym}"></option>
				</select>
				<input class="btn1" type="submit" value="選択">
			</form>
		</h2>

		<br>
		<div class="buttonInfo">



			<form th:action="@{/tanaka/employee}" method="get">
				<button class="btn2">メインメニュー</button>
			</form>

			<form action="/login" method="get">
				<button class="btn3" type="submit">ログイン画面</button>
			</form>

		</div>

	</div>
	</div>


</body>

</html>