<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者画面</title>
<link rel="stylesheet" th:href="@{/css/managementhome.css}">
</head>
<body>	
	<div class="navbar" style="display: flex; justify-content: space-between;">
    <a th:href="@{/management}">勤怠承認</a>
    <a th:href="@{/management/attendanceregistration}">勤怠登録</a>
    <a th:href="@{/management/accountmanagement}">アカウント管理</a>
    <a th:href="@{/management/accountedit}">アカウント新規作成</a>
    <a th:href="@{/login}" style="margin-left: auto;">ログアウト</a>
</div>

<table border="1" th:unless="${#lists.isEmpty(list)}" style="table-layout: fixed;">	
	
	  <tr>
    <th>アカウントid</th>
    <th>姓</th>
    <th>名</th>
    <th>性別</th>
    <th>年齢</th>
    <th>雇用形態</th>
    <th>役職</th>
    <th>管理者権限</th>
    <th>勤怠管理</th>
    <th>編集</th>
  </tr>
	
  	<tr th:each="obj : ${list}" align="center">
	<td th:text="${obj.id}">id</td>
    <td th:text="${obj.lastname}">姓</td>
    <td th:text="${obj.firstname}">名</td>
    <td th:if="${obj.sex == 1}">男</td>
    <td th:if="${obj.sex == 2}">女</td>
    <td th:if="${obj.sex == 3}">その他</td>
    <td th:text="${obj.age}">年齢</td>

    <td th:if="${obj.status == 1}">正社員</td>
    <td th:if="${obj.status == 2}">契約社員</td>
    <td th:if="${obj.status == 3}">アルバイト</td>
    
    <td th:if="${obj.rank == 1}">一般</td>
    <td th:if="${obj.rank == 2}">室長</td>
    <td th:if="${obj.rank == 3}">部長</td>
    
    <td th:if="${obj.admin == 1}">管理者</td>
    <td th:if="${obj.admin == 2}">マネージャー</td>
    <td th:if="${obj.admin == 3}">なし</td>

   <td>
	<form method="GET" th:action="@{attendanceregistration/{id}(id=${obj.id})}">
	<input type="submit" value="勤怠管理">
	</form>
   <td>
	<form method="GET" th:action="@{accountedit/{id}(id=${obj.id})}">
	<input type="submit" value="編集">
	</form>
	
	
</table>
</body>
</html>
