<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者画面</title>
<link rel="stylesheet" href="http://localhost:8080/css/attendancemanagement.css">
</head>
<body>	
	<div class="navbar" style="display: flex; justify-content: space-between;">
    <a th:href="@{/management}">勤怠承認</a>
    <a th:href="@{/management/selectShiftMonth}">勤怠登録</a>
    <a th:href="@{/management/accountmanagement}">アカウント管理</a>
    <a th:href="@{/management/accountedit}">アカウント新規作成</a>
    <a th:href="@{/login}" style="margin-left: auto;">ログアウト</a>
</div>		
 <head>
	<title>Attendance Information</title>
</head>

<body>


	<form class="topform" method="get" th:action="@{/management/mitForm}"}>
		<label for="yearMonth">年月を選択:</label>
		<select id="yearMonth" name="yearMonth">
			<option hidden>選択してください</option>
			<option th:each="ym : ${yearMonth}" th:value="${ym}" th:text="${ym}"></option>
		</select>
		<input type="submit" value="Submit">
	</form>
	<br>
		<form method="get" th:action="@{/management/paypay}">
	<input type="submit" value="基本給与登録">
	</form>
	
		<div class="info-section2">
		<h1 th:text="${thisMonth}"></h1>
	</div>

	
		<!-- 登録・更新完了コメント -->
	<p th:if="${payincomplete}" th:text="${payincomplete}"></p>

	<div class="info-section2">
		<table border="2">
			<!-- 当月の出勤状況と残休日の情報を表示 -->
			<tr>
				<th>日付</th>
				<th>出勤時間</th>
				<th>退勤時間</th>
				<th>定時</th>
				<th>残業時間</th>
			</tr>

			<tr th:each="work : ${list}">
				<td th:text="${work.day}"></td>
				<!-- 例: テンプレート内のSpEL式を修正 -->
				<td th:text="${work.attendancetime}"></td>
				<td th:text="${work.leavingtime}"></td>
				<td>09:00-18:00</td>
				<td th:text="${work.overtime}"></td>

			</tr>
			<!-- ここにThymeleafを使用してデータを表示 -->
		</table>
	</div>

	<div class="info-section2">
		<table border="2">
			<!-- 当月の出勤状況と残休日の情報を表示 -->
			<tr>
				<th>出勤日数</th>
				<th>欠勤日数</th>
				<th>総残業時間</th>
				<th>有給使用日数</th>
				<th>有給残日数</th>
			</tr>

			<tr>
				<td th:text="${workingDays}"></td>
				<td>0</td>
				<td th:text="${totalOverTime}"></td>
				<td>0</td>
				<td>19</td>
			</tr>
		</table>
	</div>
	<br>
<!--	 登録・更新完了コメント -->
	<p th:if="${setpayincomplete}" th:text="${setpayincomplete}"></p>
	<!-- ここから給与関係 -->

	</form>
		<table border="2">
			<tbody>
				<tr>
					<th >基本給</th>
					<th >時間外手当</th>
					<th >役職手当</th>
					<th >資格手当</th>
					<th >住宅手当</th>
				</tr>
				<tr>
					<td th:text="*{plist}"></td>
					<td th:text="*{over}"></td>
					<td ></td>
					<td ></td>
					<td ></td>
				</tr>
				
				<tr>
					<th >通勤手当</th>
					<th >立替交通費</th>
					<th >課税支給額合計</th>
					<th >非課税支給額合計</th>
					<th >総支給</th>
				</tr>
				<tr>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td th:if="*{apo}" th:text="*{total}"></td>
					<td th:unless="*{apo}"> <p>当月の給与を確定してください</p></td>
				</tr>
			</tbody>
		</table>
		
	<form method="GET" th:action="@{/management/setpaypay}">
	<input type="submit" value="給与編集">
	</form>
	
	<a th:unless="*{apo}">
	<form class="inline" method="POST" th:action="@{/management/onepay}">
	<input type="submit" value="表示給与で確定">
	</form>
	
</a>

</body>

</html>