<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者画面</title>
<link rel="stylesheet" href="http://localhost:8080/css/managementhome.css">
</head>
<body>	
	<div class="navbar">
    <a th:href="@{/management}">勤怠承認</a>
    <a th:href="@{/management/attendanceregistration}">勤怠登録</a>
    <a th:href="@{/management/accountmanagement}">アカウント管理</a>
    <a th:href="@{/management/accountedit}">アカウント新規作成</a>
    <a th:href="@{/management/pay}">給与計算</a>
</div>		
 <head>
	<title>Attendance Information</title>
</head>

<body>

	<div class="info-section1">
		<h2>当日の出勤・退勤時刻</h2>

		<table>
			<!-- 当日の出勤・退勤時刻の情報を表示 -->

			<tr>
				<th>出勤時間</th>
				<th>退勤時間</th>
			</tr>

			<tr th:if="${todayWork != null and todayWork.size() > 0}">
				<td th:text="${todayWork[0]}"></td>
				<td th:text="${todayWork[1]}"></td>
			</tr>
		</table>
	</div>
	<div class="info-section2">
		<h2>当月の出勤状況</h2>
	</div>
	<form method="get" th:action="@{/management/mitForm}"}>
		<label for="yearMonth">年月を選択:</label>
		<select id="yearMonth" name="yearMonth">
			<option th:each="ym : ${yearMonth}" th:value="${ym}" th:text="${ym}"></option>
		</select>
		<input type="submit" value="Submit">
	</form>


	<div class="info-section2">
		<table border="2">
			<!-- 当月の出勤状況と残休日の情報を表示 -->
			<tr>
				<th>日付</th>
				<th>出勤時間</th>
				<th>退勤時間</th>
				<th>定時</th>
				<th>残業時間</th>
			</tr>

			<tr th:each="work : ${list}">
				<td th:text="${work.day}"></td>
				<!-- 例: テンプレート内のSpEL式を修正 -->
				<td th:text="${work.attendancetime}"></td>
				<td th:text="${work.leavingtime}"></td>
				<td>09:00-18:00</td>
				<td th:text="${work.overtime}"></td>

			</tr>
			<!-- ここにThymeleafを使用してデータを表示 -->
		</table>
	</div>

	<div class="info-section2">
		<table border="2">
			<!-- 当月の出勤状況と残休日の情報を表示 -->
			<tr>
				<th>出勤日数</th>
				<th>欠勤日数</th>
				<th>総残業時間</th>
				<th>有給使用日数</th>
				<th>有給残日数</th>
			</tr>

			<tr>
				<td th:text="${workingDays}"></td>
				<td>0</td>
				<td>30</td>
				<td>0</td>
				<td>19</td>
			</tr>
		</table>
	</div>
	<br>
	<!-- ここから給与関係 -->
			<table>
			<tbody>
				<tr>
					<colgroup>
						<col style="width: 10%;" ;>
						<col style="width: 15%;" ;>
						<col style="width: 15%;" ;>
						<col style="width: 15%;" ;>
						<col style="width: 15%;" ;>
						<col style="width: 15%;" ;>
						<col style="width: 15%;" ;>
					</colgroup>
					<td style="background-color: rgb(129, 225, 254);" rowspan="4">支給</td>
					<td style="background-color: rgb(129, 225, 254);">基本給</td>
					<td style="background-color: rgb(129, 225, 254);">時間外手当</td>
					<td style="background-color: rgb(129, 225, 254);">役職手当</td>
					<td style="background-color: rgb(129, 225, 254);">資格手当</td>
					<td style="background-color: rgb(129, 225, 254);">住宅手当</td>
					<td style="background-color: rgb(129, 225, 254);">家族手当</td>
				</tr>
				<tr>
					<td th:text="*{plist}"></td>
					<td th:text="*{overtimepay}"></td>
					<td th:text="*{overtimepay}"></td>
					<td ></td>
					<td ></td>
					<td ></td>
				</tr>
				<tr>
					<td style="background-color: rgb(129, 225, 254);">通勤手当</td>
					<td style="background-color: rgb(129, 225, 254);">立替交通費</td>
					<td style="background-color: rgb(129, 225, 254);"></td>
					<td style="background-color: rgb(129, 225, 254);">課税支給額合計</td>
					<td style="background-color: rgb(129, 225, 254);">非課税支給額合計</td>
					<td style="background-color: rgb(129, 225, 254);">総支給</td>
				</tr>
				<tr>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
				</tr>
			</tbody>
		</table>
	<table>
				<tbody>
					<tr>
						<colgroup>
							<col style="width: 10%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
						</colgroup>
						<td style="background-color: rgb(129, 225, 254);" rowspan="4">控除</td>
						<td style="background-color: rgb(129, 225, 254);">健康保険</td>
						<td style="background-color: rgb(129, 225, 254);">厚生年金</td>
						<td style="background-color: rgb(129, 225, 254);">雇用保険</td>
						<td style="background-color: rgb(129, 225, 254);">所得税</td>
						<td style="background-color: rgb(129, 225, 254);">住民税</td>
						<td style="background-color: rgb(129, 225, 254);">財形貯蓄</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td style="background-color: rgb(129, 225, 254);">生命保険</td>
						<td style="background-color: rgb(129, 225, 254);">積立金</td>
						<td style="background-color: rgb(129, 225, 254);">組合費</td>
						<td style="background-color: rgb(129, 225, 254);">その他控除</td>
						<td style="background-color: rgb(129, 225, 254);"></td>
						<td style="background-color: rgb(129, 225, 254);">控除額合計</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
</body>

</html>