<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>勤怠画面</title>
	<link rel="stylesheet" th:href="@{/css/attendance-info.css}">
</head>
<body>
	<header>
		<h1>
			<img class="logo" th:src="@{/a/c.png}" onclick="redirectToPage('/tanaka/employee')"
				style="cursor: pointer;">
			<script>
				// JavaScriptでURLにリダイレクトする関数
				function redirectToPage(url) {
					window.location.href = url;
				}
			</script>
		</h1>
		<nav>
			<ul class="nav-menu">
				<li><a href="http://localhost:8080/table" sec:authentication="name">id</a></li>
			</ul>
		</nav>
	</header>
	<div class="info-section1">
		<h2>当日の出勤・退勤時刻</h2>

		<table>
			<!-- 当日の出勤・退勤時刻の情報を表示 -->

			<tr>
				<th>出勤時間</th>
				<th>退勤時間</th>
			</tr>

			<tr th:if="${todayWork != null and todayWork.size() > 0}">
				<td th:text="${todayWork[0]}"></td>
				<td th:text="${todayWork[1]}"></td>
			</tr>
		</table>
	</div>

	<div class="info-section2">
		<h2>当月の出勤状況</h2>
	</div>

	<form th:action="@{/submitForm}" method="post">
		<label for="yearMonth">年月を選択:</label>
		<select class="selectbox1" id="yearMonth" name="yearMonth">
			<option th:each="ym : ${yearMonth}" th:value="${ym}" th:text="${ym}"></option>
		</select>
		<input class="btn1" type="submit" value="Submit">
	</form>


	<div class="info-section2">
		<table border="2">
			<!-- 当月の出勤状況と残休日の情報を表示 -->
			<tr>
				<th>日付</th>
				<th>出勤時間</th>
				<th>退勤時間</th>
				<th>定時</th>
				<th>残業時間</th>
			</tr>

			<tr th:each="work : ${list}">
				<td th:text="${work.day}"></td>
				<td th:text="${work.attendancetime}"></td>
				<td th:text="${work.leavingtime}"></td>
				<td>09:00-18:00</td>
				<td th:text="${work.overtime}"></td>

			</tr>
		</table>
	</div>

	<div class="info-section2">
		<table border="2">
			<!-- 当月の出勤状況と残休日の情報を表示 -->
			<tr>
				<th>出勤日数</th>
				<th>欠勤日数</th>
				<th>総残業時間</th>
				<th>有給残日数</th>
				<th>有給使用日数</th>
			</tr>

			<tr>
				<td th:text="${workingDays}"></td>
				<td>0</td>
				<td th:text="${totalOverTime}"></td>
				<td>10</td>
				<td>0</td>
			</tr>
		</table>
	</div>
	
	<br>
	
	<div class="buttonInfo">

		<form th:action="@{/tanaka/employee}" method="get">
			<button class="btn2">メインメニュー</button>
		</form>

		<form th:action="@{/employee/pay}" method="get">
			<button class="btn3" type="submit">給与画面</button>
		</form>
		
		<form th:action="@{/employee/shiftcreate}" method="get">
			<button class="btn4" type="submit">シフト画面</button>
		</form>
		
		<form action="/login" method="get">
			<button class="btn5" type="submit">ログイン画面</button>
		</form>
	</div>

</body>

</html>