<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者画面</title>
<link rel="stylesheet" href="http://localhost:8080/css/managementstyle.css">
</head>
<body>
	<!--通常勤怠の承認を行う-->
	
<nav>
  <ul>
	<li><a href="http://localhost:8080/management">勤怠承認</a></li>
	<li><a href="#">勤怠管理</a></li>
    <li><a href="http://localhost:8080/management/accountedit">アカウント管理</a></li>
  </ul>
</nav>

  <tr>
    <th>アカウントid</th>
    <th>業態</th>
    <th>出勤時刻</th>
    <th>退勤時刻</th>
    <th>エラー</th>
    <th>承認チェック</th>
  </tr>

</table>

</body>
</html>
    
    
    