<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="#{title.entry}">Pay List</title>
	<link rel="stylesheet" th:href="@{/css/payslip.css}">

</head>

<body>

	<header>
		<h1>
			<a href="">
				<img class="logo" th:src="@{/a/c.png}">
			</a>
		</h1>

		<nav>
			<!--<ul class="nav-menu" action="@{/table}" method="post">
				<li><a href="@{/personal}" th:text="${id}">name</a></li>
				<li><a href="@{/personal}" th:text="${password}">pass</a></li>-->
			<ul class="nav-menu">
				<li><a href="http://localhost:8080/table" sec:authentication="name">id</a></li>
			</ul>
		</nav>
	</header>
	<div class="div.container4">

		<div class="div.container4 h2">
			<br>

			<h2 align="center">a月分の給与明細</h2>
			<br>

			<!-- 年月の切り替えフォーム -->
			<form th:action="@{/management/pay}" method="get">
				<label for="yearMonth">年月を選択:</label>
				<select id="yearMonth" name="yearMonth" th:value="${selectedYear + '/' + selectedMonth}">
					<option th:each="ym : ${yearMonth}" th:value="${ym}" th:text="${ym}"></option>
				</select>
				<input type="submit" value="Submit">
			</form>

			<div class="buttonInfo">
				<form action="/login" method="get">
					<button class="button-001" type="submit">ログイン画面</button>
				</form>

				<form th:action="@{/tanaka/employee}" method="get">
					<button>メインメニュー</button>
				</form>
			</div>

		</div>
	</div>

	<div class="info-section1">
		<table border="2">
			<colgroup>
				<col style="width: 40%;" ;>
				<col style="width: 60%;" ;>
			</colgroup>
			<tr>
				<td style="background-color: rgb(129, 225, 254);">支払日</td>
				<td>2023/12/15</td>
			</tr>
			<tr>
				<td style="background-color: rgb(129, 225, 254);">社員番号</td>
				<td>No.000</td>
			</tr>
			<tr>
				<td style="background-color: rgb(129, 225, 254);">氏名</td>
				<td>佐藤　健</td>
			</tr>

		</table>
	</div>

	<div class="table" th:object="${pay}">
		<table>
			<tbody>
				<tr>
					<colgroup>
						<col style="width: 10%;" ;>
						<col style="width: 15%;" ;>
						<col style="width: 15%;" ;>
						<col style="width: 15%;" ;>
						<col style="width: 15%;" ;>
						<col style="width: 15%;" ;>
						<col style="width: 15%;" ;>
					</colgroup>
					<td style="background-color: rgb(129, 225, 254);" rowspan="4">支給</td>
					<td style="background-color: rgb(129, 225, 254);">基本給</td>
					<td style="background-color: rgb(129, 225, 254);">時間外手当</td>
					<td style="background-color: rgb(129, 225, 254);">役職手当</td>
					<td style="background-color: rgb(129, 225, 254);">資格手当</td>
					<td style="background-color: rgb(129, 225, 254);">住宅手当</td>
					<td style="background-color: rgb(129, 225, 254);">家族手当</td>
				</tr>
				<tr>
					<td th:text="*{basepay}"></td>
					<td th:text="*{overtimepay}"></td>
					<td th:text="*{overtimepay}"></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td style="background-color: rgb(129, 225, 254);">通勤手当</td>
					<td style="background-color: rgb(129, 225, 254);">立替交通費</td>
					<td style="background-color: rgb(129, 225, 254);"></td>
					<td style="background-color: rgb(129, 225, 254);">課税支給額合計</td>
					<td style="background-color: rgb(129, 225, 254);">非課税支給額合計</td>
					<td style="background-color: rgb(129, 225, 254);">総支給</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>



		<div class="table">
			<table>
				<tbody>
					<tr>
						<colgroup>
							<col style="width: 10%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
						</colgroup>
						<td style="background-color: rgb(129, 225, 254);" rowspan="4">控除</td>
						<td style="background-color: rgb(129, 225, 254);">健康保険</td>
						<td style="background-color: rgb(129, 225, 254);">厚生年金</td>
						<td style="background-color: rgb(129, 225, 254);">雇用保険</td>
						<td style="background-color: rgb(129, 225, 254);">所得税</td>
						<td style="background-color: rgb(129, 225, 254);">住民税</td>
						<td style="background-color: rgb(129, 225, 254);">財形貯蓄</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td style="background-color: rgb(129, 225, 254);">生命保険</td>
						<td style="background-color: rgb(129, 225, 254);">積立金</td>
						<td style="background-color: rgb(129, 225, 254);">組合費</td>
						<td style="background-color: rgb(129, 225, 254);">その他控除</td>
						<td style="background-color: rgb(129, 225, 254);"></td>
						<td style="background-color: rgb(129, 225, 254);">控除額合計</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>

			<div class="table">
				<table border="2">
					<!-- 当月の出勤状況と残休日の情報を表示 -->
					<tr>
						<colgroup>
							<col style="width: 10%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
							<col style="width: 15%;" ;>
						</colgroup>
						<td style="background-color: rgb(129, 225, 254);" rowspan="2">勤怠</td>
						<td style="background-color: rgb(129, 225, 254);">出勤日数</td>
						<td style="background-color: rgb(129, 225, 254);">欠勤日数</td>
						<td style="background-color: rgb(129, 225, 254);">総残業時間</td>
						<td style="background-color: rgb(129, 225, 254);">有給使用日数</td>
						<td style="background-color: rgb(129, 225, 254);">有給残日数</td>
						<td style="background-color: rgb(129, 225, 254);">差引支給額</td>

					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td th:text="*{total}"></td>
					</tr>
				</table>



				</thead>

				</table>


			</div>


</body>

</html>